
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Oranges
$veryDarkOrange: #252221;
$darkerOrange: #38302d;
$darkOrange: #826253;
$orange: #8f7a70;
$lightOrange: #c1b4ae;
$veryLightOrange: #f1efee;

// Semantic Colors
$backgroundColor: $veryDarkOrange;
$foregroundColor: $darkerOrange;
$detailColor: $orange;

$titleTextColor: $lightOrange;
$minorTextColor: $orange;
$majorTextColor: $veryLightOrange;

$accentColor: $blue;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
