
//
// VARIABLES
//

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Oranges
$veryDarkOrange: #3C1B00;
$darkOrange: #AF5207;
$orange: #F28935;
$lightOrange: #FFB479;
$veryLightOrange: #FFEDDF;

// Blues
$veryDarkBlue: #000606;
$darkBlue: #004240;
$blue: #016B67;
$lightBlue: #208F8B;
$veryLightBlue: #dffffe;

// Semantic Colors
$backgroundColor: $veryLightOrange;
$foregroundColor: $gray;
$detailColor: $orange;

$titleTextColor: $darkGray;
$minorTextColor: $black;
$majorTextColor: $darkerGray;

$accentColor: $blue;

$tableBackgroundColor: $veryLightBlue;
$tableSeparatorColor: $lightBlue;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// desktop breakpoints
@mixin desktop {
  @media screen and (min-width: 640px) {
    @content;
  }
}
