
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Oranges
$veryDarkOrange: #250c00;
$darkerOrange: #3b1300;
$darkOrange: #501900;
$orange: #68574f;
$lightOrange: #a89992;
$veryLightOrange: #f1efee;

// Semantic Colors
$backgroundColor: $veryDarkOrange;
$foregroundColor: $darkerOrange;
$titleTextColor: $lightOrange;
$minorTextColor: $orange;
$majorTextColor: $veryLightOrange;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
